In [1]:
import pandas as pd
from pandas import Series,DataFrame

In [2]:
obj = Series([10,20,-14,31])
obj.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
print('{0:.2f} {1} are worth ${2}'.format('79.12313','Rupees','1'))

79 Rs are worth $1