In [9]:
import pandas as pd
import numpy as np
from scipy.stats import trim_mean

In [8]:
state = pd.read_csv('data/state.csv')
state.head()

        State  Population  Murder.Rate Abbreviation
0     Alabama     4779736          5.7           AL
1      Alaska      710231          5.6           AK
2     Arizona     6392017          4.7           AZ
3    Arkansas     2915918          5.6           AR
4  California    37253956          4.4           CA

In [10]:
trim_mean(state['Population'],0.1)

4783697.125