In [1]:
def is_valid_zip(zip_code):
    """Returns whether the input string is a valid (5 digit) zip code
    """
    numbers =['0','1','2','3','4','5','6','7','8','9'] 
    return ((x not in numbers for x in zip_code) or len(zip_code)==5)
    
is_valid_zip('12d24')

In [2]:
def word_search(doc_list, keyword):
    for x in doc_list:
        val_list = [x.split()]
        if keyword in val_list:
            print("dee")

word_search(['The Learn Python Challenge casino', 'They bought a car, and a horse', 'Casinoville?'],'casino')

In [3]:
'casin' in 'The Learn Python Challenge casino'

True

In [6]:
import pandas as pd

In [7]:
pd

In [8]:
 my_dog =2

In [9]:
print(my_dog)

2

In [10]:
my_dog = ("shahsank",2)

In [11]:
type(my_dog)

tuple

In [12]:
my_dog[0]

'shahsank'

In [13]:
my_dog[0]="alankar"

TypeError: 'tuple' object does not support item assignment

In [ ]:
x= "pam"
y=x[1:]+"ass"
y

'amass'

In [ ]:
y.split("a")

['', 'm', 'ss']

In [ ]:
x*10

'pampampampampampampampampampam'

In [ ]:
print("hello {}, how are {}".format('shashank','you'))

hello shashank, how are you

In [ ]:
dict = {"1":"shashank","2":"raj","3":"alankar"}

In [ ]:
dict

{'1': 'shashank', '2': 'raj', '3': 'alankar'}

In [ ]:
dict.keys()

dict_keys(['1', '2', '3'])

In [ ]:
dict.values()

dict_values(['shashank', 'raj', 'alankar'])

In [ ]:
dict.items()

dict_items([('1', 'shashank'), ('2', 'raj'), ('3', 'alankar')])

In [ ]:
for x in dict.items():
      print(x)

('1', 'shashank')
('2', 'raj')
('3', 'alankar')

In [ ]:
dict1 = {1:"shashank",2:1212,"3":"alankar"}

In [ ]:
dict1.values()

dict_values(['shashank', 1212, 'alankar'])

In [ ]:
for x in dict1.keys():
      print(type(x))

<class 'int'>
<class 'int'>
<class 'str'>

In [ ]:
set("shahsank")

{'a', 'h', 'k', 'n', 's'}

In [ ]:
with open('data\\test.txt',mode='r+') as test:
      content = test.read()
      test.write('hello alexa')

In [ ]:
with open('data\\test.txt',mode='w+') as test:
      test.write('hello alexa')
      content = test.read()
      print(content)

In [ ]:
dict

{'1': 'shashank', '2': 'raj', '3': 'alankar'}

In [ ]:
for value in dict.items():
      print(value)

('1', 'shashank')
('2', 'raj')
('3', 'alankar')

In [ ]:
x =[1,2,3]

In [ ]:
for item in x:
      pass
print("the end")

the end

In [ ]:
for num in range(0,10,2):
      print(num)

0
2
4
6
8

In [ ]:
text = "shashank raj"
len(text)
index_count = 0
for x in text:
      print("the value at {} is {}".format(index_count,x))
      index_count=index_count+1

the value at 0 is s
the value at 1 is h
the value at 2 is a
the value at 3 is s
the value at 4 is h
the value at 5 is a
the value at 6 is n
the value at 7 is k
the value at 8 is
the value at 9 is r
the value at 10 is a
the value at 11 is j

In [ ]:
text = "shashank raj"
for x,y in enumerate(text):
      print("the value at {} is {} and type is {}".format(x,y, type(y)))

the value at 0 is s and type is <class 'str'>
the value at 1 is h and type is <class 'str'>
the value at 2 is a and type is <class 'str'>
the value at 3 is s and type is <class 'str'>
the value at 4 is h and type is <class 'str'>
the value at 5 is a and type is <class 'str'>
the value at 6 is n and type is <class 'str'>
the value at 7 is k and type is <class 'str'>
the value at 8 is   and type is <class 'str'>
the value at 9 is r and type is <class 'str'>
the value at 10 is a and type is <class 'str'>
the value at 11 is j and type is <class 'str'>

In [1]:
name ='shashank'

print(f'hello, i am {name}')

hello, i am shashank

In [2]:
my_list = list()

In [3]:
my_list

[]